main{width: 2000px; height: 5000px;}

.music_img, .music_img_mod{
    display: inline-block; vertical-align: top; height: 200px; position: relative;
    border: 1px solid #000; margin-right: 10px;
}
.music_img img, .music_img_mod img {height: 100%;}
.music_img button, .music_img_mod button {
    position: absolute; right: 0; top: 0;
}

.music_mod_area{
    margin-left: 250px; max-width: 1300px; box-shadow: #333; background-color: #fff; border-radius: 5px;
}
.music_img_mod {font-size: 0;}
    
.img_file .music_img_mod {
    width: 300px; height: 300px; border: 0; 
    background-size: auto 100% ; background-position:center;
    background-repeat: no-repeat; margin: 0 auto;
    position: inherit; margin-bottom: -50px; margin-right: 100px;
}

.music_mod_area input{
    font-family: "Noto Sans KR";
    border: 0;
    border-bottom: 1px solid #999; outline:none; border: 1px solid #333; border-radius: 20px;
}
.music_mod_area select{
    width: 200px;
}
.music_mod_area #mod_music{
    border: 1px solid #999;
    font-family: "Noto Sans KR";
    color: #333;
    background-color: #fff;
    width:150px; height:30px; border-radius: 3px;
    position: relative; top: 2px; left: 20px;
    cursor:pointer; 
}
.music_mod_area button{
    border: 1px solid #999;
    font-family: "Noto Sans KR";
    color: #333;
    background-color: #fff;
    width:120px; height:30px; border-radius: 3px;
    position: inherit; top: 0; left: 210px; margin-bottom: 5px;
    cursor:pointer; 
}
.music_mod_area button:hover, #mod_music:hover{
    background-color: rgb(131, 131, 131);
}
.music_mod_area #music_cover_mod_img{
    font-family: "Noto Sans KR";
    border: 0;
}
.music_mod_area > p {
    padding: 20px;
}

.mod_right_area{position: absolute; left: 750px; top: 250px; }

.mod_right_area > p {
    padding: 20px;
}
.music_add_wrap {width: 3000px; margin:150px ;padding: 50px;}
.music_add_area {border-radius: 150px;}
.music_add_area thead td{  width: 200px; font-size: 28px; height: 50px;
    font-weight: 700; text-align: center; color: #f7f7f7; background-color: rgba(61, 61, 61, 0.781); 
}   
button{outline: none; background-color: transparent; -webkit-tap-highlight-color: transparent; cursor: pointer; border: 0; color: rgb(179, 179, 179);}
.music_add_area tbody td{width: 150px; line-height: 300px; border-top: #333; margin: auto; text-align: center; background-color: rgb(180, 180, 180);}

#music_file_save_btn {background-image: url("https://www.music-flo.com/img/sp_button.8292213d.png"); background-position: -370px -380px; width: 41px; height: 41px; 
    color: transparent; text-indent: 100%; vertical-align: middle; white-space: nowrap; overflow: hidden; }
#cover_img_save_btn {background-image: url("https://www.music-flo.com/img/sp_button.8292213d.png"); background-position: -370px -380px; width: 41px; height: 41px; 
    color: transparent; text-indent: 100%; vertical-align: middle; white-space: nowrap; overflow: hidden; }
#mu_lylic, #mu_explain {padding-top: 20px;}
#add_music {margin-left: 950px; margin-top: 20px; font-size: 30px ; color: #f7f7f7; background-color: #999; border: 1px #fff solid; border-radius: 15px; box-shadow: rgb(8, 8, 8);}