main{
    padding: 30px; min-width: 1280px; text-align: center;
    padding-top: 15px;
}
.add_event a{
    margin-top: 10px; position: relative; text-align: center;
    color: #767676; text-decoration: none; 
}
.add_event a:hover{
    text-decoration: underline;
}
.event_list_area{position: relative; margin-top: 30px;}
.event_list_area > p{text-align: left; color: #767676; text-decoration: none;  text-align: center; position: relative;}
.event_list_area > h1{
    font-weight: 700; text-align: center; color: #f7f7f7; background-color: rgba(15, 14, 17, 0.781); 
}

.search_box {margin-top: 10px; position: relative; text-align: center;}
.search_box input {
    font-family: "Noto Sans KR";
    border: 0;
    border-bottom: 1px solid #999;
    height:30px; width: 150px; outline:none;
}
.search_box button {
    border: 1px solid #999;
    font-family: "Noto Sans KR";
    color: #333;
    background-color: #fff;
    width:60px; height:30px; border-radius: 3px;
    position: relative; top: 2px; margin-left: 5px;
    cursor:pointer;
}
.search_box button:hover {
    color: #fff; background-color: #333;
    border-color: #333;
}

.pager_area {margin-top: 30px; text-align: center;}
.pager_area a {font-weight: 700; color: #999; text-decoration: none;
margin:10px;}
.pager_area a:hover {color: #333; text-decoration: underline;}