main {padding: 30px; min-width: 1280px; text-align: center;
    padding-top: 15px;}

.event_add_list > h1 {margin-bottom: 10px;}

.event_add_list input {font-family: "Noto Sans KR";
    border: 0;
    border-bottom: 1px solid #999;
    height:30px; width: 150px; outline:none;}

.event_add_list button{
    border: 1px solid #999;
    font-family: "Noto Sans KR";
    color: #333;
    background-color: #fff;
    width:120px; height:30px; border-radius: 3px;
    position: relative; margin-bottom: 5px;
    cursor:pointer; 
}

.event_add_list textarea{
    width: 880px; height: 360px; resize: none;
}

.event_add_list button:hover{
    background-color: rgba(15, 14, 17, 0.199); 
}

.event_add_list >div,p{padding: 10px; margin-top: 10px;}

#event_title_save{
    margin-bottom: 100px;
}

#event_desc_img_save{
    margin-bottom: 100px;
}
