<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocom.music_admin.mapper.basic.BasicMapper">
    <select id="selectAllGenreInfo" resultType="com.cocom.music_admin.data.basic.GenreInfo">
        select * from genre_info
    </select>
    <select id="selectGenreName" resultType="java.lang.Integer">
        select count(*) from genre_info where gr_name = #{name}
    </select>
    <insert id="insertGenreInfo">
        insert into genre_info (gr_name)
        values
        (#{name})
    </insert>
    <select id="selectAllEnterInfo" resultType="com.cocom.music_admin.data.basic.EnterInfo">
        select * from enter_info
    </select>
    <insert id="insertEnterInfo">
        insert into enter_info (ent_name)
        values
        (#{ent_name})
    </insert>
    <delete id="deleteEnterInfo">
    DELETE FROM enter_info
WHERE ent_seq=#{ent_seq};
    </delete>
    
    <select id="selectAllCountryInfo" resultType="com.cocom.music_admin.data.basic.CountryInfo">
        select * from country_info
    </select>
    <select id="selectCountryName" resultType="java.lang.Integer">
        select count(*) from country_info where cr_name = #{name}
    </select>
    <insert id="insertCountryInfo">
        insert into country_info (cr_name)
        values
        (#{name})
    </insert>
    <delete id="deleteCountryInfo">
        delete from country_info where cr_seq = #{seq}
    </delete>
</mapper>