<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocom.music_admin.mapper.AccountMapper">
    <insert id="adminAccountJoin">
        INSERT INTO admin_account_info
        (aa_id, aa_pwd, aa_role)
        VALUES (#{aa_id}, #{aa_pwd}, #{aa_role})
    </insert>
    <select id="login" resultType="com.cocom.music_admin.data.account.AdminAccountInfo">
        SELECT aa_seq, aa_id, aa_pwd, aa_role, aa_ip
        FROM admin_account_info
        WHERE aa_id=#{aa_id} and aa_pwd =#{aa_pwd}
    </select>
</mapper>