<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocom.music_admin.mapper.business.BusinessMapper">
    <insert id="insertAdminRecommend">
        INSERT INTO admin_recommend
        (ard_aa_seq, ard_mu_seq, ard_title, ard_ab_seq)
        VALUES
        (#{ard_aa_seq},#{ard_mu_seq},#{ard_title},#{ard_ab_seq})
    </insert>
    <select id="selectAllTodayRecommend" resultType="com.cocom.music_admin.data.business.request.AdminPlayListVO">
        select a.*,b.mu_name, b.mu_music_file, b.mu_age,b.mu_img_file  from admin_recommend a inner join music_info b on 
        a.ard_mu_seq = b.mu_seq
        group by a.ard_title limit 1
    </select>
    <select id="selectAllRecommendGenre" resultType="com.cocom.music_admin.data.business.request.AdminPlayListVO">
    select a.*,b.mu_name, b.mu_music_file, b.mu_age,b.mu_img_file  from admin_recommend a inner join music_info b on 
    a.ard_mu_seq = b.mu_seq
    group by a.ard_title 
    having a.ard_title like '%비%'
    order by rand() limit 5
    </select>
    <select id="selectAllRecommendArtis" resultType="com.cocom.music_admin.data.business.request.AdminPlayListVO">
    select a.*,b.mu_name, b.mu_music_file, b.mu_age,b.mu_img_file  from admin_recommend a inner join music_info b on 
    a.ard_mu_seq = b.mu_seq
    group by a.ard_title order by rand() limit 5
    </select>
    <select id="selectAllRecommendAlbum" resultType="com.cocom.music_admin.data.business.request.AdminPlayListVO">
    select a.*,b.mu_name, b.mu_music_file, b.mu_age,b.mu_img_file  from admin_recommend a inner join music_info b on 
    a.ard_mu_seq = b.mu_seq
    group by a.ard_title order by rand() limit 5
    </select>
    <select id="selectRecommendByString" resultType="com.cocom.music_admin.data.business.request.AdminPlayListVO">
        select * from admin_play_list where ard_title = #{title}
    </select>
    <select id="selectMusicInfoByUser" resultType="com.cocom.music_admin.data.basic.MusicInfo">
        select * from music_info order by rand() limit 2
    </select>
    <select id="selectMusicInfoRecommend" resultType="com.cocom.music_admin.data.basic.MusicInfo">
        select * from music_info order by rand() limit 2
    </select>
    <insert id="insertEventInfo">
    INSERT INTO event_info
(eve_name, eve_ex_text, eve_title_img, eve_img_file)
VALUES(#{eve_name}, #{eve_ex_text}, #{eve_title_img}, #{eve_img_file});
    </insert>
    <select id="selectEventInfo" resultType="com.cocom.music_admin.data.basic.EventInfo">
    select * from event_info
    </select>
    <delete id="deleteEventInfo">
    delete from event_info where eve_seq = #{seq}
    </delete>
    <select id="selectAllEveInfos" resultType="com.cocom.music_admin.data.basic.EventInfo">
    select *from event_info
    where eve_name like '%${keyword}%'
    limit 10 offset #{offset}
    </select>
    <select id="selectEventBySeq" resultType="com.cocom.music_admin.data.basic.EventInfo">
    select *from event_info where eve_seq = #{seq}
    </select>
    <select id="selectAllEvePageCnt" resultType="java.lang.Integer">
    select ceil(count(*)/10) from event_info where eve_name like '%${keyword}%'
    </select>
    <update id="updateEventInfo">
    UPDATE event_info
    SET eve_name=#{eve_name}, eve_ex_text=#{eve_ex_text}, eve_img_file=#{eve_img_file}, eve_title_img=#{eve_title_img}
    WHERE eve_seq=#{eve_seq};
    </update>
    <update id="deleteEventDescImg">
        update event_info set eve_img_file = '' where eve_img_file = #{filename}
    </update>
    <update id="deleteEventTitleImg">
        update event_info set eve_title_img = '' where eve_title_img = #{filename}
    </update>


        <insert id="insertPassInfo">
        INSERT INTO pass_info
        (ps_type,ps_name, ps_price,ps_img_file, ps_period)
        VALUES
        (#{ps_type},#{ps_name},#{ps_price},#{ps_img_file},#{ps_period})
    </insert>
    <select id="selectPassInfo" resultType="com.cocom.music_admin.data.business.PassInfo">
        select * from pass_info where ps_name like '%${keyword}%'
        limit 10 offset #{offset}
    </select>
    <select id="selectPassPageCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from pass_info where ps_name like '%${keyword}%'
    </select>
    <update id="updateEventTitleImg">
    UPDATE event_info
SET eve_title_img= #{eve_title_img}
WHERE eve_seq= #{seq};
        </update>
</mapper>